
.container{
    padding: 0 25%;
}



/*TOC部分*/

#mdTocNav{
    position: fixed;
    top: 50px;
    left: 10px;
    width: 200px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: .5em;
    background: #eee;
    list-style-type: none;
    padding: 10px;
}

#mdTocNav li{
    line-height: 1.8;
}

.mdh2{
    padding: 0.2em 0 0;
}
.mdh3 {
     padding: 0 .5em;
 }
.mdh4 {
    padding: 0 1em;
}
.mdh5 {
    padding: 0 1.5em;
}
.mdh6 {
    padding: 0 2em;
}

#mdTocNav a{
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
.mdh2 a{
    color: #333;
}

.nav-number{
    margin-right: .5em;
    color: #999;
}
.mdh2 .nav-number{
    margin-right: 0.8em;
}
span.nav-text {
    white-space: nowrap;
}